@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.session-container{
  height: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem;
  gap: 2rem;
}
.cont-title{
  font-size: 2.5rem;
  font-weight: 500;
  font-family:  sans-serif;

}
.session{
  width: 90%;
  border: 1px solid #525252;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding: 1rem;
}
.session-text{
  color: rgba(206, 206, 206, .88);
  font-weight: 400;
  font-size: 1.5rem;
}
.session-title{
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}
.session-desc{
  color: #8b8b8b;
  /* font-size: 1.1rem; */
}
.list{
  padding-left: 1rem;
}
.list1{
  padding-left: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;

}
.logos-cont{
  width: 35%;
}
.logos-cont img{
    max-width: 100%;
}
@media (max-width : 480px){
  .session{
    width: 95%;
  }
  .logos-cont{
    width: 90%;
  }
}

.testimonial-container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   background-color: #000;
   color: #fff;
}
.testimonial{
  width: 90%;
  height: auto;
  /* border: 1px solid #525252; */
  display: grid;
  place-items: center;
  /* align-items: center;
  justify-content: center; */
  grid-template-columns: repeat(2,1fr);
  padding: 2rem;
}
.testimonial-section{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  /* border: 2px solid red; */
}
.testimonial-title{
    font-size: 0.8rem;
    font-weight: 400;
  color: rgba(206, 206, 206, .88);

}
.testimonial-headline{
    color: white;
    font-size:1.5rem ;
}
.description{
  color: #8b8b8b;
  font-size: 1rem;
  font-weight: 400;
}
.testimonial-name-div{
  display: flex;
  align-items: center;
  gap: 2rem;
  /* justify-content: center; */
}
.name-div{
  border-right: 1px solid grey;
  padding-right: 2rem;
}
.company-logo img{
   width: 200px;
   height: 20x;
}
.testimonial-image-cont{
  width: 80%;
  justify-self: center;
  /* height: 50vh; */
}
.testimonial-image-cont img{
  height: 100%;
  width: 100%;
  background-size: cover;
}
@media(max-width:991px){
  .testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonial-name-div{
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}
.hero-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.hero-headline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  font-size: 3rem;
  font-weight: 500;
  /* background: linear-gradient(to right, #87CEEB, #4169E1); */
}
.hero-btns{
  display: flex;
  align-items: center;
  gap: 1rem;
}
#btn1{
  display: inline;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: -5px 0 20px -5px #00d1ff, 5px 0 20px -5px #001aff;
  text-decoration: none;
  color: white;
}
#btn1:hover{
  box-shadow: none;
  background-color: #3096ff;
  border: 1px solid #3096ff;
}
#btn2{
  display: inline;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
}
#btn2:hover{
  border: 1px solid white;
}
@media(max-width:990px){
  .hero-section{
    height: 50vh;
    width: 100%;
  }
  .hero-headline{
    width: 100%;
    padding: 1rem;
  }
 .hero-btns{
  flex-direction: column;
 }
}

.exclusive-content-container {
  padding: 2rem 2rem;
  background-color: black;
}
.exclusive-content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.exclusive-content-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.exclusive-content-text-container .exclusive-content-heading {
  font-family: "DM Serif Display", "Poppins";
  font-size: 3rem;
}
.exclusive-content-heading span {
  font-family: "DM Serif Display", "Poppins";
  text-decoration: 2px blue underline;
}
.exclusive-content-text-container .content-para {
  font-weight: 300;
  color: #8b8b8b;
}

.exclusive-image-container {
  width: 60%;
  display: flex;
  justify-content: center;
}
.exclusive-image-container img {
  width: 100%;
}
/* Second last section */

@keyframes slideIn {
  from {
    bottom: 0%;
    opacity: 0;
  }
  to {
    bottom: 20%;
    opacity: 1;
  }
}

.video-player {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.video-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.video-text h1 {
  font-size: 2rem;
  color: white;
}

.video-text p {
  font-size: 1.5rem;
  color: #949292;
}

iframe {
  padding: 2rem;
  width: 100%;
  height: 100%;
  border: none;
}
.video-text span{
  color: blue;
  font-size: 3rem;
  font-style: italic;
}
@media (max-width: 990px){
  .video-player{
    height: 60vh;
    width: 100%;
    justify-content: start;
    align-items: start;
  }
  .video-text{
      text-align: center;
  }
}
footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  }
  .row1{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
  }
  .footer-title{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .5rem;
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
  .footer-title p{
    font-size: .8rem;
    color: #fff;
  }
  .footer-menus{
    flex: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
  .footer-icons{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
  }
  .row2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  footer a{
    text-decoration: none;
    color: #ffffff; 
    font-size: 1rem;
   padding: 1rem;
  }
  footer span{
    color: #001aff;
    font-size: 3rem;
  }
  footer a:hover{
    color: rgb(0, 17, 255);
  }
@media only screen and (max-width:991px){
    /* body{
        width:min-content;
        height:auto;
    } */
    .row1{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;
      gap: 2rem;
    }
    .footer-title{
      justify-content: center;
      align-items: center;
    }
}
.fourthpart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.p1{
  font-size:50px;
  margin:18px;
}
.layout {
width: 600px;
margin: auto;
  
}

.accordion {
padding: 10px;
margin-top: 10px;
margin-bottom: 10px;
background: rgb(0, 0, 0);
  width:100%;
  height:auto;
}
.accordion__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion__question p {
margin:auto;
  padding: 5px;
font-family: Verdana;
font-size: 19px;
  width:100%;
  height:auto;
}

.accordion__answer p {
margin: auto;
padding: 5px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(255, 255, 255);
background: rgb(9, 9, 9);
  font-size:15px;
  background-color: #2c2a2a;
  border-radius: 10px;
  width:100%;
  height:auto;
}

.accordion:hover {
cursor: pointer;
}

.accordion__answer {
display: none;
}

.accordion.active .accordion__answer {
display: block;
}

