.fourthpart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
  .p1{
    font-size:50px;
    margin:18px;
  }
  .layout {
  width: 600px;
  margin: auto;
  }
  
  .accordion {
  padding: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(0, 0, 0);
    width:100%;
    height:auto;
  }
  .accordion__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion__question p {
  margin:auto;
  font-family: Verdana;
  font-size: 19px;
    width:100%;
    height:auto;
  }
  
  .accordion__answer p {
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background: rgb(9, 9, 9);
    font-size:15px;
    background-color: transparent;
    border-radius: 10px;
    width:100%;
    height:auto;
    /* padding: 1rem; */
  }
  
  .accordion:hover {
  cursor: pointer;
  }
  
  .accordion__answer {
  display: none;
  }
  
  .accordion.active .accordion__answer {
  display: block;
  }
  
  